*{
    margin: 0;
    padding: 0;

}
body{
    display: block;
}
#container{
    display: block;
    margin-top: 100px;
    
    border: solid;

    height: 320px;
    align-items: center;
    text-align: center;
    background-color: blue;

}
.casas{
    display: inline-block;
    background-color: rgba(6, 9, 12, 0.212);
    width: 180px;
    height: 200px;
    margin-top: 60px;
    margin-right: 60px;
    /* border: solid;
     */
}
img{
   
    width: 100%;
    object-fit: cover;
    
}
footer{
    border: solid;
    border-radius: 8px;
    margin-top: 50px;
    margin: 5em;
    

}